/* Container for the entire dropdown */

:root {
  --bg-color: hsl(0, 0%, 98%);
  --container-color: hsl(0, 0%, 100%);
  --font-color: hsl(200, 15%, 8%);
  --box-shadow: box-shadow: 0px 0px 10px 10px rgba(200, 200, 200, 0.1);
}

.dark-mode {
  --bg-color: hsl(207, 26%, 17%);
  --font-color: hsl(0, 0%, 100%);
  --container-color: hsl(209, 23%, 22%);
  --box-shadow: none;
}

.dropdown {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  text-wrap: nowrap;
  right: 70px;
  width: 180px;
  height: 60px;
  background-color: var(--container-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding-left: 20px;
  cursor: pointer;
  border: none;
  font-family: nunito sans;
  color: var(--font-color);
  font-size: 16px;
}

/* Header for the dropdown to show selected value */
.dropdown-header {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* Arrow icon for dropdown */
.dropdown-arrow {
  width: 15px;
  height: 15px;
  padding-left: 140px;
  position: absolute;
  margin-top: 4px;
}

/* Container for dropdown options */
.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--container-color);
  z-index: 1000;
  border-radius: 5px;
  margin-top: 5px;

  box-shadow: var(--box-shadow);
}

/* Styling for individual options */
.dropdown-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-left: 17px;
}

/* Hover effect for dropdown options */
.dropdown-option:hover {
  background-color: var(--bg-color);
  color: var(--font-color);
}