@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body {
  background-color: rgb(250, 250, 250);
}

.flag-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.header {
  width: 100%;
  background-color: white;
  display: flex;
  box-shadow: 0px 0px 15px 5px rgba(200, 200, 200, 0.1);
  top: 0;
  position: fixed;
  align-items: center;
}

.header-text {
  font-weight: 900;
  font-size: 25px;
  padding-left: 80px;
}

.dark-mode {
  font-family: Nunito sans;
  color: rgb(17, 21, 23);
  background-color: white;
  border: none;
  font-weight: 400px;
  display: flex;
  align-items: center;
  position: inherit;
  right: 60px;
  font-size: 14px;
  font-weight: bold;
}

.dark-mode:focus,
.filter:focus {
  outline: none;
}

.moon-icon {
  width: 20px;
  display: flex;
  align-items: center;
  position: inherit;
  right: 160px;
}

.search-bars {
  display: flex;
  flex-direction: row;
  column-gap: 900px;
  margin: 150px 0px 0 80px;
  font-family: nunito sans;
}

.search-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
}

.search-bar-text {
  width: 450px;
  height: 60px;
  background-color: white;
  border: none;
  outline: none;
  font-family: nunito sans;
  font-size: 16px;
  box-shadow: 0px 0px 15px 5px rgba(200, 200, 200, 0.1);
  border-radius: 4px;
  padding-left: 60px;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  position: absolute;
  padding-left: 20px;
}

.filter {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  right: 70px;
  width: 180px;
  height: 60px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px rgba(200, 200, 200, 0.1);
  border-radius: 4px;
  padding-left: 20px;
  cursor: pointer;
  border: none;
  font-family: nunito sans;
  color: grey;
  font-size: 16px;
}


.country-box {
  width: 250px;
  height: 350px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  margin-top: 100px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px rgba(200, 200, 200, 0.1);
}

.flag {
  width: 250px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.country-info {
  flex-direction: column;
  align-items: flex-start;
  color: rgb(17, 21, 23);
  padding: 10px 0 0 25px;
  line-height: 10px;
  font-family: Nunito sans;
  font-size: 14px;
}

.country {
  line-height: 20px;
  font-weight: 900;
  font-size: 18px;
}